html, body, .cover{
    height: 100%;
}

.navbar.navbar-fixed-top.navbar-default{
    /*background: transparent;*/
    border: 1px;

}





.cover{
    background: url("../img/270_mounatin_landscape.jpg") top left no-repeat;
    background-size: cover;
    /*Vertical center*/
    display: table;
    width: 100%;
    padding: 0 20%;

}

.cover-text{
    text-align: center;
    color: white;
    /*Vertical center*/
    display: table-cell;
    vertical-align: middle;
}

.cover-text h1{
    margin: 0;
    font-size: 70px;
    letter-spacing: -5px;


}



/*nav.navbar-default{*/
    /*background: rgba(0,0,0,0);*/

/*}*/

/*a#linksHeader{*/
    /*color: black;*/
/*}*/

/*.navbar-default .navbar-nav>li>a.mylinks{*/
    /*color: black;*/
    /*font-size: 30px;*/
    /*font-family: Roboto;*/
/*}*/


.testimonial{
    background: rgba(0,0,0,0.02);
}

#blocky{
    border: none;
    margin: 0;
    font-family: Roboto;
    font-size: 30px;
    margin-top: 30px;


}

#blocky cite{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-family: Helvetica;
    font-style: normal;
    font-size: 40px;
    margin-top: 30px;

}

section{
    padding:5px;
}

.myheads{
    text-transform:  uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

h2 + p{
    text-align: center;
    margin-top: -30px;
}

footer{
    background: #222;
    color: white;
    text-align: center;
    margin-top: 20px;

}

/*Media Queries - style css depending on screen size*/

@media only screen and ( max-width: 568px) {
    section{
        padding: 20px;
    }

    .cover{
       height: 70%;
    }

    .cover h1{
        font-size: 40px;
    }
}