/**{*/
    /*border: black 1px solid;*/
/*}*/

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}


#theCarousel{

}


.slide1{
    background-image: url("../img/tmuxfinal.png");
    background-attachment: fixed;
    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide2{
    background-image: url('../img/italian-landscape-mountains-nature.jpg');
    background-attachment: fixed;
    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide3{
    background-image: url('../img/tmuxfinal.png');
    background-attachment: fixed;
    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{

    font-family: 'Pacifico', cursive;
    font-size: 20em;
    padding-bottom: .4em;
}
.carousel-caption p{
    font-size: 2vw;
}

#entire-div{
    padding: 0;
    margin: 0;
}


#linksHeader{
    float: left;
    color: #555;
    text-transform: uppercase;
    font-style: italic;

}

.navbar.navbar-fixed-top.navbar-default{
    /*background: transparent;*/
    background-color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    border: none;

}

ul.nav.navbar-nav.navbar-right li {
    color: #555;
}

/*#main-nav{*/
    /*background: red;*/
/*}*/


#cover {
    height: 900px;

    position: relative;
    top: -55px;
    width: 100%;
    background:url("../img/italian-landscape-mountains-nature.jpg") no-repeat right bottom;
    background-size: cover;
    background-attachment: fixed;

}

.navigation {
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 10000;
}

ul {
    padding: 0;
}

li {
    color: #14213D;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 10px;
    text-transform: uppercase;
}

#logo {
    text-transform: capitalize;
    color: #000;
    font-family: 'Roboto', cursive;
    font-size: 32px;
    padding: 0px 50px;
}

.cover-content {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 280px;
    width: 70%;
}

h1 {
    color: #aaa;
    visibility: hidden;

    font-family: 'Roboto', cursive;
    font-size: 72px;
    line-height: 70px;
    padding: 20px 10px;
    text-align: center;
}




h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    text-wrap: normal;
    line-height: 1.6em;

    font-weight: 300;
    text-align: center;
}
.first, h3:first-letter{
    font-weight: 900;
    font-size: 30px;
    color: #335;
    text-transform: uppercase;


}




    h3 {
    color: #14213D;
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: #FCA311;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin: 0px 0px 50px 0px;
}

h5{

    font-family: 'Pacifico';
    font-size: 100px;
    opacity: 0;
}



p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #14213D;
    
    color: #FFF;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    padding: 14px;
}

.products {
    border-radius: 10px;
    background: #EEEFF1;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 20px 0px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 0px 2% 80px 2%;
    text-align: center;
    width: 45%;
}

.product img {
    width: 100%;
}

.blue {
    color: #14213D !important;
}

@media only screen and ( max-width: 800px) {

    h2{
        font-size: 80px;
    }
}

@media only screen and ( max-width: 568px) {
    ul li{
        display: block;
        text-align: right;
    }

    h2{
        font-size: 50px;
    }

    h5 {
        font-size: 50px;
    }
}